<?xml version="1.0" encoding="UTF-8"?>
<!--ACTION配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--Action基类 -->
    <bean id="baseAction" class="com.cn.struts2.BaseAction" abstract="true">
        <property name="hibernateDAO">
            <ref bean="hibernateDAO"/>
        </property>
        <property name="dateModule">
            <ref bean="dateModule"/>
        </property>
        <property name="randomModule">
            <ref bean="randomModule"/>
        </property>
        <property name="cryptoModule">
            <ref bean="cryptoDigestImpl"/>
        </property>
    </bean>
    <bean id="userBaseAction" class="com.cn.struts2.UserBaseAction" parent="baseAction"/>
    <bean id="helloWorldAction" class="com.cn.struts2.HelloWorldAction" parent="baseAction"/>
    <bean id="initializeAction" class="com.cn.struts2.InitializeAction" parent="baseAction"/>
</beans>