<?xml version="1.0" encoding="UTF-8"?>
<!-- Webservice配置模块 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

    <bean id="helloWorldWebServiceImpl" class="com.cn.webservice.jaxws.HelloWorldWebServiceImpl"/>
    <jaxws:endpoint id="helloWorldWebService" implementor="#helloWorldWebServiceImpl" address="/helloworld" />

    <bean id="client" class="com.cn.webservice.jaxws.HelloWorldWebService" factory-bean="clientFactory"
          factory-method="create"/>
    <bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
        <property name="serviceClass" value="com.cn.webservice.jaxws.HelloWorldWebService"/>
        <property name="address" value="http://localhost:8080/j2ee_full/cxf/helloworld?wsdl"/>
    </bean>

</beans>