<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:beans="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:ftp="http://www.springframework.org/schema/integration/ftp"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                           http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
                           http://www.springframework.org/schema/integration/ftp http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd">

    <!-- 配置FTP的sessionFactory -->
    <bean id="ftpSessionFactory" class="org.springframework.integration.ftp.session.DefaultFtpSessionFactory">
        <property name="host" value="localhost"/>
        <property name="port" value="8800"/>
        <property name="username" value="abcd"/>
        <property name="password" value="abcd"/>
        <property name="clientMode" value="0"/>
        <property name="fileType" value="2"/>
        <property name="bufferSize" value="100000"/>
    </bean>

    <!-- 配置ftp入港通道适配器 -->
    <ftp:inbound-channel-adapter id="ftpInbound" channel="inFtpChannel"
                                 session-factory="ftpSessionFactory" charset="UTF-8" auto-create-local-directory="true"
                                 delete-remote-files="false" filename-pattern="*.txt" remote-directory="/"
                                 local-directory="/home/jupiter/workset/workdir/ftp/abcd">
    </ftp:inbound-channel-adapter>

    <!-- ftp入港通道 -->
    <si:channel id="inFtpChannel"/>

    <!-- ftp离港通道 -->
    <si:channel id="outFtpChannel"/>

    <!-- 配置ftp离港通道适配器 -->
    <!-- ftp:outbound-channel-adapter id="ftpOutbound" channel="outFtpChannel"
        session-factory="ftpSessionFactory" charset="UTF-8" remote-directory="/"
        / -->


</beans>