<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">


    <bean id="httpPaserOne" class="com.cn.http.HttpPaserOne"/>
    <bean id="httpPaserTwo" class="com.cn.http.HttpPaserTwo"/>


    <http:inbound-gateway request-channel="requestChannel" auto-startup="true" error-channel="error"
                          supported-methods="GET,POST" request-timeout="5000" />
    <si:service-activator input-channel="requestChannel" output-channel="httpPaserOneOutChannel" ref="httpPaserOne"
                          method="handler"/>
    <si:channel id="httpPaserOneOutChannel"/>
    <si:service-activator input-channel="httpPaserOneOutChannel" output-channel="logger" ref="httpPaserTwo"
                          method="handler"/>
</beans>