<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd 
    http://www.springframework.org/schema/integration/ip http://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">

    <bean id="CRLF"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayCrLfSerializer"/>
    <bean id="LF"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayLfSerializer"/>
    <bean id="NULL"
          class="org.springframework.integration.ip.tcp.serializer.ByteArraySingleTerminatorSerializer">
        <constructor-arg value="0"/>
    </bean>
    <bean id="STXETX"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayStxEtxSerializer"/>
    <bean id="RAW"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayRawSerializer"/>
    <bean id="L1"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayLengthHeaderSerializer">
        <constructor-arg value="1"/>
    </bean>
    <bean id="L2"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayLengthHeaderSerializer">
        <constructor-arg value="2"/>
    </bean>
    <bean id="L4"
          class="org.springframework.integration.ip.tcp.serializer.ByteArrayLengthHeaderSerializer">
        <constructor-arg value="4"/>
    </bean>

    <!-- TCP入港连接工厂 -->
    <int-ip:tcp-connection-factory id="tcpServerFactory" using-nio="true" single-use="false" host="192.168.0.102"
                                   so-keep-alive="true"
                                   lookup-host="false" backlog="100" so-linger="3000" so-timeout="5000" serializer="RAW"
                                   deserializer="RAW" port="12345" type="server"/>

    <!-- TCP入港网关 -->
    <int-ip:tcp-inbound-gateway request-channel="tcp_request_channel" connection-factory="tcpServerFactory"
                                reply-channel="tcp_reply_channel" reply-timeout="2000" retry-interval="60000"
                                error-channel="error"/>

    <int:channel id="tcp_request_channel"/>
    <int:channel id="tcp_reply_channel"/>

    <!-- -->
    <int:service-activator method="receiver"
                           ref="tcpMessageReceiver" input-channel="tcp_request_channel"
                           output-channel="tcp_reply_channel"/>
    <bean id="tcpMessageReceiver" class="com.cn.ip.TCPMessageReceiver"/>

</beans>