<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:stream="http://www.springframework.org/schema/integration/stream"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
	http://www.springframework.org/schema/integration/stream http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd">

    <!-- 配置默认轮询设置 -->
    <si:poller default="true" time-unit="MILLISECONDS" fixed-rate="10000">
    </si:poller>

    <!-- 设置默认控制台输出 -->
    <stream:stdout-channel-adapter id="stdout"/>

    <!-- 设置默认的日志输出 -->
    <si:logging-channel-adapter id="logger" level="INFO"/>

    <!-- 设置默认的错误消息通道 -->
    <si:logging-channel-adapter id="error" log-full-message="true"/>

</beans>