<?xml version="1.0" encoding="UTF-8"?>
<!--DWR模块配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
    <dwr:configuration>
        <dwr:convert type="bean" class="com.cn.dwr.DWRHelloWorld"
                     javascript="dwrHelloWorld"/>
    </dwr:configuration>

    <bean id="dwrHelloWorld" class="com.cn.dwr.DWRHelloWorld">
        <property name="helloWorld" value="Hi, hello world!"/>
        <dwr:remote>
            <dwr:include method="hello"/>
        </dwr:remote>
    </bean>

</beans>