<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:http="http://www.springframework.org/schema/integration/http"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd">


    <bean id="httpPaserOne" class="com.cn.http.HttpPaserOne"/>
    <bean id="httpPaserTwo" class="com.cn.http.HttpPaserTwo"/>
    <bean id="httpPaserThree" class="com.cn.http.HttpPaserThree"/>


    <http:inbound-gateway request-channel="httpPaserOneInputChannel" auto-startup="true" error-channel="error"
                          supported-methods="GET,POST" request-timeout="5000"/>


    <si:channel id="httpPaserOneInputChannel"/>
    <si:service-activator input-channel="httpPaserOneInputChannel" output-channel="httpPaserTwoInputChannel"
                          ref="httpPaserOne"
                          method="handler"/>

    <!--
    <si:publish-subscribe-channel id="routInputChannel"/>
    <si:header-value-router input-channel="routInputChannel" header-name="channel"
                            default-output-channel="httpPaserThreeInputChannel">
        <si:mapping value="2" channel="httpPaserTwoInputChannel"/>
        <si:mapping value="3" channel="httpPaserThreeInputChannel"/>
    </si:header-value-router>
-->


    <si:channel id="httpPaserTwoInputChannel"/>
    <si:service-activator input-channel="httpPaserTwoInputChannel" output-channel="httpPaserThreeInputChannel"
                          ref="httpPaserTwo"
                          method="handler"/>

    <si:channel id="httpPaserThreeInputChannel"/>
    <si:service-activator input-channel="httpPaserThreeInputChannel" output-channel="logger" ref="httpPaserThree"
                          method="handler"/>
</beans>