<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:event="http://www.springframework.org/schema/integration/event"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/event http://www.springframework.org/schema/integration/event/spring-integration-event.xsd">

    <!-- 入港事件适配器 -->
    <event:inbound-channel-adapter channel="eventInboundChannel"
                                   event-types="com.cn.event.ApplicationTestEvent"/>
    <si:channel id="eventInboundChannel"/>

    <!-- 入港事件处理器 -->
    <bean id="applicationTestEventHandler" class="com.cn.event.ApplicationTestEventHandler"/>
    <si:transformer input-channel="eventInboundChannel"
                    ref="applicationTestEventHandler" method="messageHandler"
                    output-channel="logger"/>

    <!-- 出港事件适配器 -->
    <event:outbound-channel-adapter channel="eventOutboundChannel"/>
    <si:channel id="eventOutboundChannel"/>

</beans>