<?xml version="1.0" encoding="UTF-8"?>
<!--系统数据源及实体类配置 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--Action基类 -->
    <bean id="baseAction" class="com.cn.struts2.BaseAction" abstract="true">
        <property name="hibernateDAO">
            <ref bean="hibernateDAO"/>
        </property>
        <property name="dateModule">
            <ref bean="dateModule"/>
        </property>
        <property name="randomModule">
            <ref bean="randomModule"/>
        </property>
        <property name="cryptoModule">
            <ref bean="cryptoDigestImpl"/>
        </property>
    </bean>

    <bean id="helloAction" class="com.cn.struts2.HelloAction" parent="baseAction">
        <property name="helloParameter" value="Lin"/>
    </bean>

    <bean id="worldAction" class="com.cn.struts2.WorldAction" parent="baseAction">
        <property name="worldParameter" value="Peng"/>
    </bean>

    <bean id="userBaseAction" class="com.cn.struts2.UserBaseAction" parent="baseAction">
        <property name="pageSize" value="10"/>
    </bean>
    <bean id="initializeAction" class="com.cn.struts2.InitializeAction" parent="baseAction"/>

    <bean id="websocketAction" class="com.cn.struts2.WebSocketAction" parent="baseAction">
        <property name="messageHandler" ref="messageHandler"/>
    </bean>
</beans>