<?xml version="1.0" encoding="UTF-8"?>
<!--系统功能模块配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!--时间处理格式模块 -->
    <bean id="dateModule" class="com.cn.common.implement.DateModuleImpl">
        <property name="dateFormatString">
            <value>yyyy-MM-dd</value>
        </property>
    </bean>

    <!--随机数据处理模块 -->
    <bean id="randomModule" class="com.cn.common.implement.RandomModuleImpl"/>

    <!--文件处理模块 -->
    <bean id="fileModule" class="com.cn.common.implement.FileModuleImpl">
        <property name="pathString" value="d:/bank"/>
        <property name="extension" value=""/>
    </bean>

    <!--xml处理模块 -->
    <bean id="xmlModule" class="com.cn.common.implement.XmlModuleImpl">
        <property name="encode" value="UTF-8"/>
        <property name="formatType" value="Pretty"/>
    </bean>

    <!-- 属性文件处理模块 -->
    <bean id="propertiesModule" class="com.cn.common.implement.PropertiesModuleImpl">
        <property name="defaultProperties">
            <props>
                <prop key="name">LinPeng</prop>
                <prop key="age">45</prop>
                <prop key="address">TianTongYuan</prop>
            </props>
        </property>
    </bean>
</beans>