<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="spelSource"
          class="o.s.integration.jdbc.ExpressionEvaluatingSqlParameterSourceFactory">
        <property name="parameterExpressions">
            <map>
                <entry key="id" value="headers['id'].toString()"/>
                <entry key="createdDate" value="new java.util.Date()"/>
                <entry key="payload" value="payload"/>
            </map>
        </property>
    </bean>
</beans>