<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd">
    <bean id="cassandraDAO" class="com.cn.cassandra.CassandraDAO">
        <property name="address" value="192.168.0.102"/>
        <property name="port" value="9042"/>
        <property name="keyspace" value="j2ee_cassandra"/>
    </bean>
</beans>