<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- GVG100通讯协议 -->
    <bean id="gvg100" class="com.cn.iot.se3000.GVG100"/>

    <!-- Se900切换台控制 -->
    <bean id="se900Controler" class="com.cn.iot.se3000.Se900Controler">
        <property name="portName" value="COM3"/>
        <property name="bitRate" value="115200"/>
        <property name="gvg100" ref="gvg100"/>
    </bean>

    <!-- Switch100通讯协议 -->
    <bean id="switch100" class="com.cn.iot.sound100.Switch100"/>

    <!-- Switch100音频切换台控制 -->
    <bean id="soundControler" class="com.cn.iot.sound100.Sound100Controler">
        <property name="portName" value="COM4"/>
        <property name="bitRate" value="9600"/>
        <property name="switch100" ref="switch100"/>
    </bean>


</beans>