<?xml version="1.0" encoding="UTF-8"?>
<!--任务管理配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- 业务描述 -->
    <bean id="quartzSample" class="com.cn.quartz.QuartzSample">
    </bean>

    <!--配置任务 -->
    <bean id="jobDetail"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="quartzSample"/>
        <property name="targetMethod" value="diaplayCurrentTime"/>
        <property name="concurrent" value="false"/>
    </bean>

    <!--配置间隔触发器 -->
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <property name="startDelay" value="5000"/>
        <property name="repeatInterval" value="3000"/>
        <!-- <property name="repeatCount" value="30" /> -->
    </bean>

    <!--配置定时触发器 -->
    <bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="jobDetail"/>
        <!-- 每年每月每日每时每分，间隔X秒触发一次 -->
        <property name="cronExpression" value="1/10 54 14 20 * ? 2016"/>
    </bean>

    <!--配置时间表 -->
    <bean id="scheduler"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="autoStartup" value="false"/>
        <property name="triggers">
            <list>
                <ref bean="cronTrigger"/>
            </list>
        </property>
    </bean>

</beans>