<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:security="http://www.springframework.org/schema/security"
       xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <security:http>
        <security:anonymous enabled="false"/>
        <security:form-login default-target-url="/index.jsp"
                             login-page="/login.jsp"/>
        <security:intercept-url access="ROLE_ADMIN"
                                pattern="/admin/*"/>
        <security:logout logout-url="/j_spring_security_logout"
                         logout-success-url="/"/>
        <security:custom-filter ref="CustomUsernamePasswordAuthenticationFilter"
                                before="FORM_LOGIN_FILTER"/>
    </security:http>

    <bean id="CustomUsernamePasswordAuthenticationFilter"
          class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="authenticationSuccessHandler" ref="successHandler"/>
    </bean>

    <bean id="successHandler" class="com.cn.security.SuccessHandler"/>

    <!-- 配置方式管理用户权限 -->
    <security:authentication-manager alias="authenticationManager">
        <security:authentication-provider>
            <security:user-service>
                <security:user name="abcd" authorities="ROLE_ADMIN"
                               password="abcd"/>
            </security:user-service>
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="securityHelper" class="com.cn.security.Security3Helper"/>
</beans>