<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cassandra="http://www.springframework.org/schema/data/cassandra"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/data/cassandra http://www.springframework.org/schema/data/cassandra/spring-cassandra-1.0.xsd">
    <cassandra:cluster contact-points="192.168.0.100" port="9042" username="root" password="admin"/>
    <cassandra:mapping/>
    <cassandra:converter/>
    <cassandra:session keyspace-name="j2ee_full_cassandra"/>
    <cassandra:template id="cassandraTemplate"/>
    <cassandra:repositories base-package="com.cn.cassandra.tables"/>
</beans>