<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <bean id="crypto3DESImpl" class="com.cn.crypto.implement.Crypto3DESImpl">
        <property name="algorithmName" value="DESede/ECB/PKCS7Padding"/>
        <property name="keyString" value="1234567890"/>
    </bean>

    <bean id="cryptoDigestImpl" class="com.cn.crypto.implement.CryptoDigestImpl">
        <property name="algorithmName" value="md5"/>
    </bean>

    <bean id="cryptoBASE64Impl" class="com.cn.crypto.implement.CryptoBASE64Impl"/>

    <bean id="cryptoHexImpl" class="com.cn.crypto.implement.CryptoHexImpl"/>
</beans>