<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int-xmpp="http://www.springframework.org/schema/integration/xmpp"
       xmlns:si="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
    http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd 
    http://www.springframework.org/schema/integration/xmpp 
	http://www.springframework.org/schema/integration/xmpp/spring-integration-xmpp.xsd">

    <!-- XMPP连接处理模块 -->
    <int-xmpp:xmpp-connection id="xmppConnection"
                              auto-startup="true" port="${xmpp-connection.port}" host="${xmpp-connection.host}"
                              user="${xmpp-connection.user}" password="${xmpp-connection.password}"
                              resource="${xmpp-connection.resource}" subscription-mode="accept_all"/>

    <!-- 出港消息适配器 -->
    <int-xmpp:outbound-channel-adapter
            channel="xmppOutputChannel" xmpp-connection="xmppConnection"/>

    <!-- XMPP出港消息通道 -->
    <si:channel id="xmppOutputChannel"/>

    <!-- 入港消息适配器 -->
    <int-xmpp:inbound-channel-adapter
            channel="logger" xmpp-connection="xmppConnection"/>

    <!-- 用户管理 -->
    <bean id="userService" class="com.cn.xmpp.openfire.UserServiceImp">
        <property name="url" value="${userService.url}"/>
        <property name="secret" value="${userService.secret}"/>
    </bean>

    <!-- 对指定组广播xmpp消息 -->
    <bean id="broadast" class="com.cn.xmpp.openfire.BroadcastImp">
        <property name="serviceName" value="${broadast.serviceName}"/>
        <property name="serverName" value="${broadast.serverName}"/>
        <property name="xmppOutputChannel" ref="xmppOutputChannel"/>
    </bean>

    <!-- 获取指定用户的当前状态 -->
    <bean id="presence" class="com.cn.xmpp.openfire.PresenceImp">
        <property name="url" value="${presence.url}"/>
    </bean>

</beans>