<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:activemq="http://activemq.apache.org/schema/core"
       xmlns:si="http://www.springframework.org/schema/integration"
       xmlns:jms="http://www.springframework.org/schema/integration/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://activemq.apache.org/schema/core http://activemq.apache.org/schema/core/activemq-core.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/jms http://www.springframework.org/schema/integration/jms/spring-integration-jms-2.0.xsd">

    <!-- 建立消息连接工厂 -->
    <activemq:connectionFactory id="remoteConnectionFactory"
                                brokerURL="tcp://192.168.0.106:61616" userName="admin" password="activemq"
                                maxThreadPoolSize="1000"/>

    <!-- 配置Topic目标 -->
    <bean id="topicDestination" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg value="topic.demo"/>
    </bean>

    <!-- 配置Queue目标 -->
    <bean id="queueDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="queue.demo"/>
    </bean>

    <!-- 配置消息驱动（接收）通道适配器 -->
    <jms:message-driven-channel-adapter
            message-converter="activeMQTextMessageConverter" connection-factory="remoteConnectionFactory"
            destination="topicDestination" channel="logger" extract-payload="false"/>

    <!-- 消息接收通道 -->
    <si:channel id="jmsReceiveChannel"/>

    <!-- 消息转换器 -->
    <bean id="activeMQTextMessageConverter" class="com.cn.jms.ActiveMQTextMessageConverter"/>

    <!-- 消息发送通道 -->
    <jms:publish-subscribe-channel id="jmsSendChannel"
                                   message-converter="activeMQTextMessageConverter"
                                   connection-factory="remoteConnectionFactory"
                                   topic="topicDestination"/>

</beans>
