<?xml version="1.0" encoding="UTF-8"?>
<!--短信功能模块配置 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--号段检测 -->
    <bean id="checkType" class="com.cn.sms.implement.CheckTypeImpl">
        <property name="mobileNumbers">
            <list>
                <value>135</value>
                <value>136</value>
                <value>137</value>
                <value>138</value>
                <value>139</value>
                <value>150</value>
                <value>159</value>
                <value>158</value>
                <value>151</value>
                <value>152</value>
                <value>157</value>
                <value>187</value>
                <value>188</value>
                <value>1340</value>
                <value>1341</value>
                <value>1342</value>
                <value>1343</value>
                <value>1344</value>
                <value>1345</value>
                <value>1346</value>
                <value>1347</value>
                <value>1348</value>
            </list>
        </property>
        <property name="unicomNumbers">
            <list>
                <value>130</value>
                <value>131</value>
                <value>132</value>
                <value>133</value>
                <value>156</value>
                <value>185</value>
                <value>186</value>
            </list>
        </property>
        <property name="telecomNumbers">
            <list>
                <value>180</value>
                <value>189</value>
            </list>
        </property>
        <property name="satcomNubmers">
            <list>
                <value>1349</value>
            </list>
        </property>
    </bean>

    <!--联通短信功能模块 -->
    <bean id="unicomSender" class="com.cn.sms.implement.SMSUtilImpl">
        <property name="urlString"
                  value="http://219.239.7.144:8803/websend/default.asp"/>
        <property name="properties">
            <props>
                <prop key="serverid">011091</prop>
                <prop key="fromuser">hllhtx</prop>
                <prop key="password">hllhtx</prop>
                <prop key="fromphone"></prop>
                <prop key="fromserver">10690095011091</prop>
            </props>
        </property>
    </bean>

    <!--移动短信功能模块 -->
    <bean id="mobileSender" class="com.cn.sms.implement.SMSUtilImpl">
        <property name="urlString" value="http://219.238.160.67:8007/YAYUQxtSend.ashx"/>
        <property name="properties">
            <props>
                <prop key="Epid">yayu02</prop>
                <prop key="Account">hllhtx</prop>
                <prop key="Pwd">hllhtx</prop>
            </props>
        </property>
    </bean>
</beans>