<?xml version="1.0" encoding="UTF-8"?>
<!-- Webservice配置模块 -->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:sws="http://www.springframework.org/schema/web-services"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
       http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services.xsd">

    <!--Spring-ws配置方法-->
    <sws:dynamic-wsdl id="demo" portTypeName="UserResource" locationUri="/webservice/demo" >
        <sws:xsd location="classpath:demo.xsd"/>
    </sws:dynamic-wsdl>

</beans>